h5 {
  margin-bottom: 1em;
}

#logo-footer {
  margin-left: 12%;
}

.navbar-header {
  text-align: center;
  a {
    padding-bottom: 2em;
  }
  img {
    width: 50%;
  }
}

footer.page-footer {
  padding-top: 3em;
  margin-top: 0;
}

