<div id="editor-div">
  <div fxLayout="row">
    <div class="col-xs-6 col-md-6">
      <section id="formSection">
        <form
          fxLayout="column"
          #codeTags="ngForm"
          (ngSubmit)="oncodeTagsSubmit(codeTags)"
        >
          <mat-form-field>
            <input
              type="text" 
              matInput
              placeholder="Name For Snippet"
              ngModel
              name="snippetname"
              snippetname
              [(ngModel)]="snippetname"
              value="snippetname"
              required
            >
          </mat-form-field>
          <mat-form-field >
          	<mat-select 
              id="languageSelect"
              placeholder="Choose an Language"
              ngModel
              name="language"
              [(ngModel)]="currentLanguage"
              (change)="handleSetLanguage($event)"
              required
            >
      				<mat-option *ngFor="let language of languages" [value]="language.value" name="language.value">
      					{{ language.name }}
      				</mat-option>
      			</mat-select>
          </mat-form-field>
          <mat-form-field>
            <input
              style="width: 268px"
            	name="tag"
            	type="text"
              matInput
              placeholder="Add Addition Tags"
              ngModel
              tag
              #tag
            >
              <a (click)="addTag(tag)"><i class="material-icons">add_circle</i></a>
          </mat-form-field>
          <span></span>
          <span id="checkBox">
            <mat-checkbox
              matInput
              ngModel
              name="private"
              private
              (change)="onChangePrivacy()"
              #private
            >
              Make Snippet Private?

              <mat-hint
                *ngIf="privacySetting"
                id="privacy-hint_Private"
                class="privacy-hint"
              >
                Set to Private
              </mat-hint>
              <mat-hint
                *ngIf="!privacySetting"
                id="privacy-hint_Public"
                class="privacy-hint"
              >
                <i>If you do not mark private,
                  <br> this code will be viewable <br>
                  by all Code Scissor Members
                </i>
              </mat-hint>
            </mat-checkbox>
            </span>
           <div fxLayout="row" class="button-row">
            <div class="col-xs-12">
              <button type="submit" mat-raised-button color="primary" [disabled]="codeTags.invalid" >SAVE SNIPPET</button>
            </div>
          </div>
        </form>
        
      </section>
    </div>
    <div class="col-lg-6 tag-div" style="margin: auto">
      <div>
        <section 
          fxLayoutAlign="center"
          fxLayoutGap="10px">
          <div class="tagDiv" *ngFor="let tag of otherTags; let i = index">
            <span class="tagSpan">{{ tag }}</span>
            <a (click)="onRemoveTag(i)">
              <i class="material-icons">delete_forever</i>
            </a>
          </div>
        </section>
      </div>
    </div>
  </div>


  <span class="editor-words"> Enter Your Code Snippet Below:*</span>
  <ngx-monaco-editor
    id="monaco-editor" 
  	[options]="editorOptions" 
  	[(ngModel)]="code"
  ></ngx-monaco-editor>
  	
</div>