form {
	margin-bottom: 7em;
}

.mat-input-element {
	border-bottom: none;
}

.mat-input-infix, 
.mat-form-field-infix {
  border-bottom: none;
}

.overflow-guard,
.mini-map.slider-mouseover,
.minimap-slider {
	height: 100% !important;
}
