
#editor-div {
  background: white;
  position: relative;
  height: 1100px;
  border: 1px solid silver;
  width: 95%;
  margin: 0 auto;
}

form {
  margin-left: 5em;
  margin-top: 2em;
}

#formSection {
	margin-bottom: 7em;
}

mat-form-field {
  font-family: "Montserrat" !important;
  width: 500px;
}

.overflow-guard,
.mini-map.slider-mouseover,
.minimap-slider {
	height: 100% !important;
}

#languageSelect {
	padding-bottom: 1.15em;
}

mat-checkbox {
  position: relative;
}
.editor-words {
  margin-left: 5em;
  position: relative;
  bottom: 1.5em;
  letter-spacing: 3px;
  font-weight: 600
}

.button-row {
  position: absolute;
  bottom: -600px;
  right: -54px;
  button {
    width: 250px;
    padding: 5px;
    letter-spacing: 3px;
    background: #736acb;
    color: white;
  }
}

.tagDiv {
	margin-right: 10px;
  width: 150px;
  padding: 6px;
  text-transform: uppercase;
  border: 1px solid #68a7bb;
  background: #68a7bb;
  color: white;
  letter-spacing: 2px;
}

.tagDiv i {
	float: right;
}

#checkBox {
  position: absolute;
  min-height: 100px;
  min-width: 380px;
  overflow: -webkit-paged-x;
  bottom: -645px;
  left: 118px;
  margin-right: 0 !important;
  #privacy-hint_Public {
    position: absolute;
    top: 18px;
    left: 2px;
    font-size: 14px;
    color: cornflowerblue;
    line-height: 21px;
  }
  #privacy-hint_Private {
    position: absolute;
    top: 18px;
    left: 2px;
    font-size: 14px;
    color: cornflowerblue;
    line-height: 21px;
  }
}

@media (max-width: 400px) {
  #checkBox {
    bottom: -841px;
    left: 34px;
  } 
  .button-row {
    bottom: -900px;
    left: 72px;
  }
}

@media (max-width: 505px) {
  .editor-words {
    margin-left: 1em;
  }
}

@media (min-width: 400px) and (max-width: 530px) {
  #checkBox {
    left: 38px;
    bottom: -815px;
  }
  .button-row {
    bottom: -833px;
    right: 0;
    left: 25%;
  } 
}

@media (min-width: 531px) and (max-width: 750px) {
  #checkBox {
    bottom: -815px;
  } 
  .button-row {
    bottom: -850px;
    right: 0;
    left: 0;
    button {
      position: relative;
      left: 100%;
    }
  } 
}

@media (min-width: 751px) and (max-width: 767px) {

  .button-row {
    left: 50%;
    button {
      position: relative;
      left: -50%;
    }
  } 
}

@media (min-width: 751px) and (max-width: 991px) {
  #checkBox {
    bottom: -815px;
  } 
  .button-row {
    bottom: -850px; 
  }
}

@media (min-width: 992px) and (max-width: 1150px) {
  .button-row {
    bottom: -676px; 
  }
}
@media (min-width: 992px) and (max-width: 2300px) {
  #checkBox {
    bottom: -683px;
  } 
  .button-row {
    bottom: -645px; 
  }
}

@media (min-width: 2301px) {
  #checkBox {
    bottom: -717px;
  } 
  .button-row {
    bottom: -685px; 
  }
}

@media (max-width: 690px) {

  .mat-form-field-infix {
      width: 100%;
  }

  mat-form-field {
      width: 75%;
  }

  .monaco-editor, 
  .monaco-editor 
  .inputarea.ime-input {
      color: #d4d4d4;
      height: 464px;
  }
}

@media (max-width: 991px) {
  #editor-div {
    height: 1260px;
  }

  #formSection[_ngcontent-c15] {
    margin-bottom: 2em;
  }

  .tag-div {
    height: 200px
  }
}

