<nav class="navbar navbar-default navCont">
    <div class="container container-fluid">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand"><i>Code Scissors</i></a>
        </div>

        <div class="navbar">
            <ul class="nav navbar-nav navbar-left">
                <li><a routerLink="/login">LOGIN</a></li>
                <li><a href="#" routerLink="/signup">SIGN UP</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a
                        class="dropdown-toggle"
                        role="button" 
                        href="#">MANAGE SNIPPETS 
                        <span class="caret"></span>
                    </a>
                    <ul [ngStyle]="{display : isOpen ? 'block' : 'none'}" class="dropdown-menu" role="menu">
                        <li><a >VIEW ALL SNIPPETS</a></li>
                        <li><a href="#">ADD A NEW SNIPPET</a></li>
                        <li><a href="#">VIEW SAVED SNIPPET</a></li>
                        <li><a href="#">FIND A SNIPPET</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>