.dashboard-home_row {
  margin-top: 10em;
}

#noSnippetDiv {
  text-align: center; 
  color: white;
  a {
    transition:all 0.3s ease;
    color: black;
    letter-spacing: 3px;
  }
  .fade {
    opacity:0.75;
  }
  .fade:hover {
    opacity:1;
  }
}

@media (max-width: 750px) {
  .dashboard-home_row {
    margin-top: 7em;
  }
}