<div class="homeBodyContainer">
  <div style="height: 10em; text-align: center">
    <div class="row iconRow">
      <div id="leftIcon" class="col-xs-4 col-md-4">
        <div class="iconParentDiv">
          <div class="iconDiv iconDivLeft">
            <img src="../../assets/images/store.jpg">
          </div>
          <p class="headText">STORE ALL YOUR CODE</p>
          <div class="iconParBodyDiv">
            <p>As a developer, I know how often you spend hours looking for a piece of code to solve all your issues.  Then, after you finally figure it out, you probably will forget the solution minutes later only to run into a similar issue not long after. Now you can store also those perfect nuggets all in one spot!</p>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-md-4">
        <div class="iconParentDiv">
          <div class="iconDiv iconDivCenter">
            <img src="../../assets/images/organize.jpg">
          </div>
          <p class="headText">ORGANIZE BY LANGUAGE</p>
          <div class="iconParBodyDiv">
            <p>With all of your snippets in one location, Code Scissors introduces the perfect way to sort all of your snippets.  You can either view them all in one location, or start filtering by the language, the date created, and any of the multiple tags you attached to your snippet.  Additionally, a new feature coming soon, you'll be able to favorite some of your best work!</p>
          </div>
        </div>
      </div>
      <div id="rightIcon" class="col-xs-4 col-md-4">
        <div class="iconParentDiv">
          <div class="iconDiv iconDivRight">
            <img src="../../assets/images/share.jpg">
          </div>
          <p class="headText">SHARE WITH TEAMMATES</p>
          <div class="iconParBodyDiv">
            <p>The best part of figuring out a great solution, is sharing your conquest with your friends, or THE WORLD> Code Snippet is currently working on linking all of your work with other users. For now, you can prep for it by choosing to share your work or keep your genius private and all to yourself.</p>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>