.home-body-container {
  position: relative;
  overflow: -webkit-paged-x;
}

.icon-row {
  margin-top: 4em;
  display: flex;
  margin-bottom: 8em;
  .header-text {
    font-weight: 500;
    letter-spacing: 1px;
  }
}

.icon-parent-div { 
  width: 300px;
  margin: 0 auto;
}

.icon-div {
  position: relative;
  min-height: 140px;
}

// #leftIcon {
//   .icon-parent-div {
//     margin-left: 30%;
//   }
// }

.icon-div-center {
  position: relative;
  top: -13px;
}

.iconDivLeft {
  position: relative;
  top: 3px;
}

.iconDivRight {
  position: relative;
  bottom: 4px;
}

// #rightIcon {
//   .icon-parent-div {
//     margin-right: 30%;
//   }
// }

@media (max-width: 768px) {
  .icon-parent-div {
    margin: 0 auto 61px !important;
  }
}

@media (min-width: 768px) and (max-width: 890px) {

  // #leftIcon {
  //   .icon-parent-div {
  //     margin-left: 13px;
  //   }
  // }

  .icon-parent-div {
    width: 216px;
    margin: 0 auto;
  }
}

@media (min-width: 891px) and (max-width: 995px) {
  .icon-parent-div {
    width: 269px;
    margin: 0 auto;
  }

  // #leftIcon {
  //   .icon-parent-div {
  //     margin-left: 5%;
  //   }
  // }
}

// @media (min-width: 995px) and (max-width: 1180px) {
//   #leftIcon {
//     .icon-parent-div {
//       margin-left: 18%;
//     }
//   }
// }







