.card.card-image {
  position: relative;
  top: -200px;
  padding-bottom: 305px;
  background: transparent;
  box-shadow: none;
}

section {
  padding: 2em;
  width: 30%;
  margin: 0 auto;
  background: white;
}

h3 {
  text-align: center;
}