
.card.card-image {
  position: relative;
  top: -113px;
  padding-bottom: 305px;
  // background: transparent;
  // box-shadow: none;
}

.headTitle {
  width: 45%;
  margin: 0 auto 3em;
}

section {
  padding: 2em;
  padding-top: 4em;
  width: 45%;
  height: 515px;
  border: 1px solid silver;
  margin: 0 auto;
  background: white;
}

h3 {
  font-size: 58px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

mat-form-field {
  width: 80%;
}

// .mat-form-field-label {
//   color: black;
// }

.loginSubmit {
  width: 100%;

  div {
    width: 100%;
    text-align: center;
    padding-top: 3em;

    button {
      transition:all 0.3s ease;
      font-size: 17px;
      letter-spacing: 4px;
      background-color: #736acb;
      width: 80%;
      height: 49px;
      color: white;
      font-weight: bold;
    }
    .fade {
      opacity:0.5;
    }
    .fade:hover {
      opacity:1;
    }
  }
}

@media (max-width: 765px) and (min-width: 547px) {
  .headTitle {
    width: 63%;
  } 

  section {
    width: 63%;
  }
}
@media (max-width: 546px) {
  .headTitle {
    width: 100%;
    h3 {
      font-size: 33px;
    }
  } 

  section {
    width: 96%;
  }
}


