.container {
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: -158px;
    background: white;
    bottom: -712px;
}

.addNewSnipBtn {
  background: #736acb;
  color: white;
  letter-spacing: 3px;
  padding: 5px;
  position: relative;
  right: -851px;
  top: 31px;
  width: 250px;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

@media (max-width: 750px) {
  .container {
    top: -120px;
    bottom: -527px;
    overflow: scroll;
  }

  .addNewSnipBtn {
    right: -128px;
    top: 10px;
  }
}

@media (min-width: 991px) and (max-width: 1199px) {
  .addNewSnipBtn {
    right: -71%;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .addNewSnipBtn {
    right: -62%;
  }
}

@media (min-width: 751px) and (max-width: 767px) {
  .addNewSnipBtn {
    right: -52%;
  }
}
