<div class="container mat-elevation-z8" fxLayout="column" fxLayoutGap="2em">
  <div class="header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name of Snippet </mat-header-cell>
      <mat-cell *matCellDef="let snippet"> {{snippet.name}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="language">
      <mat-header-cell *matHeaderCellDef> Language </mat-header-cell>
      <mat-cell *matCellDef="let snippet"> {{snippet.language}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="other_tags">
      <mat-header-cell *matHeaderCellDef> Tags </mat-header-cell>
      <mat-cell *matCellDef="let snippet"> is this working? </mat-cell>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="created_at">
      <mat-header-cell *matHeaderCellDef> Date Created </mat-header-cell>
      <mat-cell *matCellDef="let snippet"> TO BE ADDED </mat-cell>
    </ng-container>

    <!-- Favorite Column -->
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Date Created </mat-header-cell>
      <mat-cell *matCellDef="let snippet"> TO BE ADDED </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
