.container {
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: -158px;
    background: white;
    bottom: -712px;
}

.addNewSnipBtn {
  position: relative;
  width: 250px;
  padding: 5px;
  letter-spacing: 3px;
  background: #736acb;
  color: white;
  right: -851px;
  top: 31px;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}