<div class="row">
  <div class="col-md-12">
    <h3>Sign Up</h3>
  </div>
</div>
<!-- <section>
  <form >
    <mat-form-field>
      <input type="email" matInput placeholder="Email">
      <mat-hint>Form working</mat-hint>
    </mat-form-field>
  </form>
</section> -->
<section>
    <form fxLayout="column" fxLayoutAlighn="center center" fxLayoutGap="2em">
      <mat-form-field>
        <!-- <div class="col-sm-5 form-group"> -->
        <!-- <label for="username">User Name</label> -->
        <input
          matInput
          placeholder="User Name"
          type="text"
          id="usernameInputID"
          ngModel
          name="username"
          required
          #usernameInput="ngModel">
        <!-- </div> -->
      </mat-form-field>
           <mat-form-field>
        <!-- <div class="col-sm-5 form-group"> -->
        <!-- <label for="username">User Name</label> -->
        <input
          type="email"
          matInput
          placeholder="Email"
          ngModel
          name="username"
          username
          id="userEmailInputID"
          required
          #usernameInput="ngModel">
        <!-- </div> -->
      </mat-form-field>
      <mat-form-field>
        <!-- <div class="col-sm-5 form-group"> -->
        <!-- <label for="password">Password</label> -->
        <input 
          type="password"
          matInput
          id="passwordInputID"
          placeholder="Password" 
          ngModel
          name="password"
          minlength="6" 
          #passwordInput="ngModel">
        </mat-form-field>
        <!-- </div> -->
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="submit" (click)="onSignup()">Sign Up</button>
          </div>
        </div>
      
    </form>