<div class="row">
  <div class="col-md-12">
    <h3>Sign Up</h3>
  </div>
</div>

<section>
    <form 
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="2em"
       #signupForm="ngForm"
      (ngSubmit)="onSignup(signupForm)">
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="User Name"
          ngModel
          name="username"
          username
          required
          #username="ngModel">
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="email"
          placeholder="Email"
          ngModel
          name="email"
          email
          required
          #email="ngModel">

      </mat-form-field>
      <mat-form-field>
        <input 
          matInput
          type="password"
          placeholder="Password" 
          ngModel
          name="password"
          required 
          minlength="6" 
          #password="ngModel">
        </mat-form-field>
        <div class="row">
          <div class="col-xs-12">
            <button mat-raised-button type="submit">Sign Up</button>
          </div>
        </div>
    </form>
  </section>