
<footer class="page-footer center-on-small-only stylish-color-dark">

    <!--Footer Links-->
    <div>
        <div fxLayout="row">

            <!--First column-->
            <div id="logo-footer" class="col-md-4">
                <h5 class="title"><i>CODE SCISSORS</i></h5>
                <p>Store and Share All Your Snippets in One Place</p>
            </div>
            <!--/.First column-->

            <hr class="clearfix w-100 d-md-none">

            <!--Second column-->
            <div class="col-md-5 footer-aboutDiv mx-auto">
                <h5 class="title mb-4 mt- font-bold">About</h5>
                <ul>
                    <li><a href="#!">ABOUT SNIPPET</a></li>
                    <li><a href="#!">HOW TO</a></li>
                    <li><a href="#!">CONTACT</a></li>
                    
                </ul>
            </div>

            <hr class="clearfix w-100 d-md-none">
        </div>
    </div>


    <hr>

    <div class="call-to-action">
        <ul>
            <li>
                <h5 class="mb-1">Sign up today for free!</h5>
            </li>
            <li><a routerLink="/signup" class="btn btn-danger btn-rounded">Sign up!</a></li>
        </ul>
    </div>

    <div class="footer-copyright">
        <div class="container-fluid">
            © 2018 Copyright: <a href="https://github.com/SGissubel" target="_blank">github.com/SGissubel</a>
        </div>
    </div>

</footer>
