
<footer class="page-footer" >

    <!--Footer Links-->
    <div fxLayout="row">
        <!-- <div fxLayout="column" fxFlex fxLayoutAlign="space-between center"> -->

            <!--First column-->
            <div fxFlex="10" fxLayout="column"></div>
            <div fxFlex fxLayout="column">
                <h5 class="footer_title"><i>CODE SCISSORS</i></h5>
                <p>Store and Share All Your Snippets in One Place</p>
            </div>
            <div fxFlex="40" fxLayout="column"></div>

            <!--Second column-->
            <div fxFlex class="footer-aboutDiv" fxLayout="column">
                <h5 class="footer_title">About</h5>
                <ul class="ul_list-style-type-none">
                    <li><a class="anchor_decoration-none" href="#!">ABOUT SNIPPET</a></li>
                    <li><a class="anchor_decoration-none" href="#!">HOW TO</a></li>
                    <li><a class="anchor_decoration-none" href="#!">CONTACT</a></li>
                </ul>
            </div>
            <div fxFlex="10" fxLayout="column"></div>

            <!-- <hr class="clearfix w-100 d-md-none"> -->
        <!-- </div> -->
    </div>


    <hr>

    <div fxLayout="row" fxLayoutAlign="center center">
        <h5 class="footer_title">Sign up today for free!</h5>
        <button mat-raised-button routerLink="/signup" class="btn cta_red btn-rounded">Sign up!</button>
    </div>

    <div class="footer-copyright">
        <div class="container-fluid">
            © 2018 Copyright: <a href="https://github.com/SGissubel" target="_blank">github.com/SGissubel</a>
        </div>
    </div>

</footer>
