<nav class="navbar navbar-default navCont backgroundImg">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">
        <img src="../../assets/images/whitelogo.png">
      </a>
    </div>
    <ng-container class="burger-nav">
      <button id="burger-dropdown" mat-button [matMenuTriggerFor]="menu">
        <i class="material-icons">reorder</i>
      </button>
      <div class="navbar">
        <mat-menu class="mat-menu_head" #menu="matMenu">
          <button class="mat-menu_buttons" mat-menu-item>
            <a routerLinkActive="active" routerLink="/">HOME</a>
          </button>
          <button class="mat-menu_buttons" mat-menu-item>
            <a routerLinkActive="active">ABOUT</a>
          </button>
          <button class="mat-menu_buttons" mat-menu-item>
            <a routerLinkActive="active">CONTACT</a>
          </button>
          <ng-container *ngIf="!isAuth">
            <button class="mat-menu_buttons" mat-menu-item>
              <a routerLinkActive="active" routerLink="login">LOGIN</a>
            </button>
            <button class="mat-menu_buttons" mat-menu-item>
              <a routerLinkActive="active" routerLink="login/signup">SIGN UP</a>
            </button>
          </ng-container>
          <ng-container *ngIf="isAuth">
            <button class="mat-menu_buttons" mat-menu-item>
              <a routerLinkActive="active" routerLink="dashboard">DASHBOARD</a>
            </button>
            <button class="mat-menu_buttons" mat-menu-item>
              <a routerLinkActive="active" (click)="onLogOut()">LOG OUT</a>
            </button>
          </ng-container>  
        </mat-menu>
      </div>
    </ng-container>
    
    <div id="navleft" class="navbar">
      <ul class="nav navbar-nav navbar-left">
        <li><a routerLink="/">
            HOME
        </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li><a>
          ABOUT
        </a></li>
        <li><a>
          CONTACT
        </a></li>
      </ul>
      <ng-container *ngIf="!isAuth">
	      <ul class="nav navbar-nav navbar-left">
	        <li id="loginLink">
            <i class="material-icons">lock_open</i>
            <a routerLink="login">
              LOGIN
            </a>
          </li>
	        <li><a routerLink="login/signup">
            SIGN UP
          </a></li>
	      </ul>
      </ng-container>
      <ng-container *ngIf="isAuth">
        <ul class="nav navbar-nav navbar-left logout">
          <li><a routerLink="dashboard">
            DASHBOARD
          </a></li>
	        <li><a (click)="onLogOut()">
            LOG OUT
          </a></li>
	      </ul>
      </ng-container>
    </div>
  </div>
</nav>
