.navCont {
  background: #3c3c3c;  
}

.navbar .dropdown-menu a:hover {
  color: blue !important;
}

.navbar .dropdown-menu li {
  padding: 3px 1em !important;
}

.navbar {
  box-shadow: none;
}

.navbar-nav {
  flex-direction: inherit;
}

.navbar-nav li a {
  margin-right: 1em;
}

.dropdown-menu {
  position: absolute !important;
  white-space: nowrap;
}

.dropdown-menu li {
  padding: 0 1em;
}

.dropdown-toggle,
.logout {
  color: #0275d8 !important;
}

.open ul {
  display: block !important;
}

