<div class="navbar-default navCont background-img_header">
  <div class="container-header">
    <mat-toolbar fxFlex="row">
      <div class="navbar-header" fxLayoutAlign="start center" fxFlexOffset="20px">
        <a routerLink="/" class="navbar-brand">
          <img class="nav-bar_white-logo" src="../../assets/images/whitelogo.png">
        </a>
      </div>
      <div fxFlex></div>
      <div class="nav-menu-light" fxLayoutAlign="end center"  fxLayoutGap="20px">
        <ng-container class="burger-nav">
          <button id="burger-dropdown" mat-button [matMenuTriggerFor]="menu">
            <span class="material-icons">reorder</span>
          </button>
          <div class="navbar">
            <mat-menu class="mat-menu_head" #menu="matMenu">
              <button class="mat-menu_buttons" mat-menu-item>
                <a routerLinkActive="active" routerLink="/">HOME</a>
              </button>
              <button class="mat-menu_buttons" mat-menu-item>
                <a routerLinkActive="active">ABOUT</a>
              </button>
              <button class="mat-menu_buttons" mat-menu-item>
                <a routerLinkActive="active">CONTACT</a>
              </button>
              <ng-container *ngIf="!isAuth">
                <button class="mat-menu_buttons" mat-menu-item>
                  <a routerLinkActive="active" routerLink="login">LOGIN</a>
                </button>
                <button class="mat-menu_buttons" mat-menu-item>
                  <a routerLinkActive="active" routerLink="login/signup">SIGN UP</a>
                </button>
              </ng-container>
              <ng-container *ngIf="isAuth">
                <button class="mat-menu_buttons" mat-menu-item>
                  <a routerLinkActive="active" routerLink="dashboard">DASHBOARD</a>
                </button>
                <button class="mat-menu_buttons" mat-menu-item>
                  <a routerLinkActive="active" (click)="onLogOut()">LOG OUT</a>
                </button>
              </ng-container>  
            </mat-menu>
          </div>
        </ng-container>
        <a
          class="primary-nav-anchor navigation-menu-item nav-bar-text_white"
          [routerLinkActive]="['active-menu-item']"
          fxLayoutAlign="center"
          routerLink="/"
        >
          HOME
        </a>
        <a
          class="primary-nav-anchor navigation-menu-item nav-bar-text_white"
          fxLayoutAlign="center"
          routerLink="/"
        >
          ABOUT
        </a>
        <a
          class="primary-nav-anchor navigation-menu-item nav-bar-text_white"
          fxLayoutAlign="center"
          routerLink="/"
        >
          CONTACT
        </a>
        
        <a
          class="primary-nav-anchor navigation-menu-item nav-bar-text_white"
          fxLayoutAlign="center"
          routerLink="login"
        >
          LOGIN
        </a>
        <ng-container *ngIf="!isAuth; else authorized">
          <a
            class="primary-nav-anchor navigation-menu-item nav-bar-text_white"
            fxLayoutAlign="center"
            routerLink="login/signup"
          >
            SIGN UP
          </a>
        </ng-container>
        <ng-template #authorized>
          <a
            class="primary-nav-anchor navigation-menu-item nav-bar-text_white"
            fxLayoutAlign="center"
            routerLink="dashboard"
          >
            DASHBOARD
          </a>
          <a
            class="primary-nav-anchor navigation-menu-item nav-bar-text_white"
            fxLayoutAlign="center"
            (click)="onLogOut()"
          >
            LOG OUT
          </a>
        </ng-template>
      </div>
    </mat-toolbar>
  </div>
</div>
