@import "~@angular/material/prebuilt-themes/indigo-pink";
@import '~@angular/material/theming';
@import '~@angular/cdk/overlay-prebuilt.css';
@import 'src/assets/styles/icons.scss';
@import 'src/assets/styles/fonts.scss';
@import 'src/assets/styles/colors.scss';
@import 'src/assets/styles/navigation.scss';
@import 'src/assets/styles/formatting.scss';
@import 'src/assets/styles/buttons.scss';

@import '~highlight.js/styles/vs.css';

html, body {
  font-family: "serif";
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

span, p, button, a {
  font-family: "serif";
  font-weight: 600;
  letter-spacing: 2px;
}

h1, h2, h3, h4, h5 {
  font-weight: 600 !important;
  letter-spacing: 2px !important;
}

#page-container {
  position: relative;
  top: -459px;
  margin-bottom: -459px;
  min-height: 50vw;
  z-index: 300;
  background: transparent;
}

.ul_list-style-type-none {
  list-style-type: none;
  padding-left: 0;

  .anchor_decoration-none {
    text-decoration: none;
    font-family: serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: #fff;
  }
}

.footer_title {
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

footer.page-footer {
    background-color: #3e4551!important;
    margin-top: 10em;
    color: #fff;
    // padding-top: 3em;
    // position: relative;
    // bottom: 0;
    // left: 0;
    // right: 0;
}

ngx-monaco-editor {
	height: 25vw !important;
	margin: 0 auto;
	width: 90% !important;
}

.material-table_toptier {
  min-height: 200px;
}

.monaco-editor {
	width: 100%;
}

.overflow-guard,
.mini-map.slider-mouseover,
.minimap-slider,
.monaco-scrollable-element,
.lines-content.monaco-editor-background {
	height: 100%;
  width: 100%;
}


// inputs
// .mat-input-infix, 
// .mat-form-field-infix {
//   border-bottom: none;
// }

.mat-table {
  max-height: 77% !important;

  .mat-header-cell {
    letter-spacing: 2px;
  }

  .mat-row {
    padding: 10px 24px;   
  }

  .mat-cell, .mat-header-cell {
    min-width: 161px !important;
    overflow: scroll !important;
    flex: 1;

    button {
      background: #7269cc;
      width: 153px;
      color: white;
      font-size: 11px;
    }
  }
}

.container-header {
  padding: 22px;
}

// .mat-input-element {
// 	border-bottom: none !important;
// 	box-shadow: none !important;
// }




// HOME PAGE
.home-page-description_h4 {
  margin-bottom: 10px !important;
  margin-top: 25px;
}

.home-page-card_title-container,
.home-page-card_title {
  margin-bottom: 0 !important;
}




// MEDIA QUERIES

@media (max-width: 500px) {
  #page-container {
    top: -547px;
    margin-bottom: -630px;
  }
}

@media (max-width: 450px) and (min-width: 400px) {
  .mat-menu-panel {
    width: 237px !important;
    position: relative;
    left: -50%;
  }
  #cdk-overlay-0 {
    left: 50% !important;
  }

}
@media (max-width: 399px) {
  .mat-menu-panel {
    width: 237px !important;
    position: relative;
    left: -50%;
  }

  #cdk-overlay-0 {
    left: 33% !important;
  }
}

@media (max-width: 775px) and (min-width: 501px) {
  #page-container {
    top: -479px;
    margin-bottom: -605px;
  }
}

@media (max-width: 991px) {
  .mat-header-row,
  .mat-row {
    width: 800px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}


@media (max-width: 1700px) {
  ngx-monaco-editor, ngx-monaco-editor .inputarea.ime-input {
    height: 500px !important;
  }
}


