/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~highlight.js/styles/vs.css';

html, body {
  font-family: "Montserrat";
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

span, p, button, a {
  font-family: "Montserrat";
  font-weight: 900;
  letter-spacing: 2px;
}

h1, h2, h3, h4, h5 {
  font-weight: 900 !important;
  letter-spacing: 3px !important;
}

#page-container {
  position: relative;
  top: -459px;
  margin-bottom: -459px;
  min-height: 50vw;
  z-index: 300;
  background: transparent;
}

footer.page-footer {
  padding-top: 3em;
  margin-top: 0;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

ngx-monaco-editor {
	height: 25vw !important;
	margin: 0 auto;
	width: 90% !important;
}

.monaco-editor {
	width: 100%;
}

.overflow-guard,
.mini-map.slider-mouseover,
.minimap-slider,
.monaco-scrollable-element,
.lines-content.monaco-editor-background {
	height: 100%;
  width: 100%;
}


// inputs
.mat-input-infix, 
.mat-form-field-infix {
  border-bottom: none;
}

.mat-table {
  max-height: 77% !important;

  .mat-header-cell {
    letter-spacing: 2px;
  }

  .mat-row {
    padding: 10px 24px;   
  }

  .mat-cell, .mat-header-cell {
    min-width: 161px !important;
    overflow: scroll !important;
    flex: 1;

    button {
      background: #7269cc;
      width: 153px;
      color: white;
      font-size: 11px;
    }
  }
}



.mat-input-element {
	border-bottom: none !important;
	box-shadow: none !important;
}

@media (max-width: 500px) {
  #page-container {
    top: -547px;
    margin-bottom: -630px;
  }
}

@media (max-width: 450px) and (min-width: 400px) {
  .mat-menu-panel {
    width: 237px !important;
    position: relative;
    left: -50%;
  }
  #cdk-overlay-0 {
    left: 50% !important;
  }

}
@media (max-width: 399px) {
  .mat-menu-panel {
    width: 237px !important;
    position: relative;
    left: -50%;
  }

  #cdk-overlay-0 {
    left: 33% !important;
  }
}

@media (max-width: 775px) and (min-width: 501px) {
  #page-container {
    top: -479px;
    margin-bottom: -605px;
  }
}

@media (max-width: 991px) {
  .mat-header-row,
  .mat-row {
    width: 800px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}


@media (max-width: 1700px) {
  ngx-monaco-editor, ngx-monaco-editor .inputarea.ime-input {
    height: 500px !important;
  }
}


