@import 'src/assets/styles/colors.scss';

.text-center {
  justify-content: center;
}

.card.card-image {
  padding-bottom: 305px;
  background: transparent;
  box-shadow: none;
}

.home-page-card_title {
  font-size: 45px;
  color: $theme-text-inverted;
}

.home-page-description_container {
  width: 61%;
  margin: 0 auto;
  text-align: center;
}

.home-page-description_h4 {
  font-size: 30px;
}

@media (min-width: 768px) and (max-width: 890px) {
  .card.card-image {
    padding-bottom: 207px;
  }

  .card.card-image {
    padding-bottom: 207px;
  }
}

@media (max-width: 667px) {
  .card.card-image {
    padding-bottom: 169px;
  }
}