// .backgroundImg {
//   background-image: url("../../assets/images/background-new.jpg");
//   background-size: 100% 100%;
//   height: 803px;
//   position: relative;
//   top: -78px;
// }

.text-center {
  justify-content: center;
}

.card.card-image {
  padding-bottom: 305px;
  background: transparent;
  box-shadow: none;
}

#description {
  margin: auto;
  text-align: center;
  width: 61%;
  margin-bottom: 1em
}

h1 {
  color: white;
  font-weight: 800;
  letter-spacing: 4px;
}

.page-head_title h1 {
  text-align: center;
}

@media (min-width: 768px) and (max-width: 890px) {
  .card.card-image {
    padding-bottom: 207px;
  }

  .card.card-image {
    padding-bottom: 207px;
  }
}

@media (max-width: 667px) {
  .card.card-image {
    padding-bottom: 169px;
  }
}