.backgroundImg {
  background-image: url("../../assets/images/header-background.jpg");
}

.text-center {
  justify-content: center;
}

.card.card-image {
  background: rgba(0, 0, 0, 0.6);
  box-shadow: none;
}

h1 {
  color: white;
  font-weight: 100;
  letter-spacing: 4px;
}