<div fxLayout="row">
  <div class="col-md-12">
    <div class="card card-image">
      <div style="margin: auto">

        <div class="page-head_title" fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: 1em;">
          <h1>STORE AND SHARE YOUR CODE</h1>
        </div>
        <div id="description" fxLayout="row" fxLayoutAlign="center center">
          <h4>A MODERN DASHBOARD DESIGNED FOR STORING, EDITING, AND SHARING ALL OF YOUR CODE SNIPPETS.</h4>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <a type="button" routerLink="login" mat-raised-button style="letter-spacing: 3px">GET STARTED</a>
        </div>

      </div>
    </div>
  </div>
</div>
<app-body></app-body>

